body {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
    margin: 0% auto 0 auto;
    padding: 15px;
    width: 400px;
    height: auto;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

form label {
    font-size: 14px;
    color: darkgray;
    cursor: pointer;
}

form label,
form input {
    float: left;
    clear: both;
}

form input {
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
    border-color: cornflowerblue;
}

input[type=submit] {
    padding: 15px 50px;
    width: auto;
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: right;
    clear: right;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input[type=submit]:hover {
    opacity: 0.8;
}

input[type="submit"]:active {
    opacity: 0.4;
}


table {
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

thead, tbody {
    display: block;
}

tbody {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 200px; /* Just for the demo          */
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: hidden; /* Hide the horizontal scroll */
}

th{
    text-align:left;
    padding-top:4px;
    padding-bottom:4px;
    position:sticky;
    top:0;
    background-color:darkgray;
}

td {
    padding:12px 12vw 2px 4px;
}