#formElement {
    display: inline-block;
    text-align: left;
    margin-inline: 25.8px;
}
#editButton {
    margin: 0px;
    width: fit-content;
    padding: 5px 15px;
}
body {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
    display: inline-block;
    margin: 0% auto 0 auto;
    padding: 15px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #e3e3e3;
    border-radius: 0px;
}

form label {
    font-size: 18px;
    color: #575757;
    #cursor: pointer;
}
/*
form label,
form input {
    float: left;
    clear: both;
}*/

form input{
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    position: sticky;
    top: 0;
}

input[type=submit] {
    padding: 15px 50px;
    width: auto;
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    clear: right;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

input[type=submit]:hover {
    opacity: 0.8;
}

input[type="submit"]:active {
    opacity: 0.4;
}


table {
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 220px;
    border:none;
    max-width:80vw;
}

thead, tbody {
    display: block;
}

tbody {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    #overflow-y: auto; 
    #overflow-x: hidden;
}

th {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    position: sticky;
    top: 128px;
    background-color: darkgray;
    font-size:xx-large;
}

td{
    padding:12px 12px 2px 4px;
    width:12vw;
    min-width:auto;
}